{% extends 'news/base.html' %}

{% block content %}
<div class="category-list_new">
<a href="{% url 'category_new' %}" class="top-menu"><i class="fas fa-plus-circle"></i>Yeni Kategori Ekle</a>
</div>  
{% for c in category %}
<div class="category-list">


<h2><a href="{% url 'category_detail' pk=c.pk %}">{{c.name}}</a>
<a href="{% url 'category_delete' pk=c.pk %}" class="top-menu"><span class="fas fa-trash"></span></a>

<a href="{% url 'category_edit' pk=c.pk %}" class="top-menu"><span class="far fa-edit"></span></a>

</h2>
</div>
{%endfor%}

{% endblock %}